In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Port Alfred,-33.5906,26.8910,64.18,90,100,3.00,ZA,2022-11-07 23:46:25
1,1,Orel-Izumrud,43.4583,39.9244,46.42,66,100,13.42,RU,2022-11-07 23:46:26
2,2,Syracuse,37.0881,15.2792,60.39,71,1,4.34,IT,2022-11-07 23:46:26
3,3,Ribeira Grande,38.5167,-28.7000,62.78,69,100,5.99,PT,2022-11-07 23:46:27
4,4,Jamestown,42.0970,-79.2353,49.59,59,0,5.75,US,2022-11-07 23:44:42

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
[max(temp, 0) for temp in max_temp]

[64.18,
 46.42,
 60.39,
 62.78,
 49.59,
 10.63,
 67.55,
 59.11,
 60.46,
 33.78,
 80.33,
 62.98,
 73.58,
 0,
 65.48,
 75.2,
 63.1,
 78.17,
 73.56,
 74.14,
 63.32,
 11.44,
 61.12,
 77.05,
 57.45,
 0,
 65.53,
 0,
 27.0,
 68.04,
 85.28,
 52.81,
 79.25,
 39.27,
 58.62,
 76.35,
 61.41,
 71.04,
 78.55,
 69.98,
 84.18,
 63.93,
 72.72,
 0,
 32.47,
 0,
 71.96,
 77.02,
 78.75,
 74.64,
 75.31,
 48.45,
 60.08,
 65.14,
 74.17,
 73.06,
 67.12,
 0.81,
 55.53,
 0,
 44.28,
 51.8,
 57.31,
 74.35,
 34.27,
 76.21,
 36.39,
 83.21,
 58.66,
 75.25,
 54.01,
 60.17,
 69.76,
 80.76,
 12.15,
 5.58,
 61.57,
 79.0,
 32.76,
 45.95,
 0,
 0,
 43.11,
 70.65,
 57.15,
 40.98,
 7.32,
 19.02,
 32.79,
 21.04,
 38.8,
 38.71,
 32.11,
 19.13,
 76.91,
 69.08,
 38.71,
 50.09,
 70.16,
 79.97,
 75.49,
 78.06,
 0,
 82.13,
 0,
 70.59,
 60.33,
 80.33,
 32.54,
 51.78,
 62.2,
 56.46,
 76.46,
 52.45,
 28.98,
 61.84,
 78.3,
 23.02,
 75.56,
 27.05,
 63.64,
 53.38,
 80.26,
 65.75,
 18.21,
 79.07,
 48.92,
 48.56,
 78.94,
 68.27,
 62.69,
 77.27,
 50.54,
 86.04,
 1.4,
 68.72,
 48.38,
 42.4,
 77.47,
 39.09,
 82.8,
 18.41,
 83.26,
 79.07,
 29.03,
 35.01,
 83.01,
 76.35,
 81.25,
 35.46,
 58.91,
 64.09,
 70.9,
 78.01,
 60.93,
 15.17,
 61.34,
 66.96,
 50.22,
 42.91,
 65.8,
 59.67,
 48.06,
 82.17,
 60.06,
 50.14,
 60.76,
 71.85,
 71.11,
 69.78,
 68.65,
 56.79,
 5.04,
 69.44,
 80.26,
 71.98,
 68.54,
 61.52,
 35.82,
 81.68,
 56.07,
 20.84,
 74.46,
 31.48,
 56.89,
 50.02,
 68.13,
 68.9,
 85.98,
 78.01,
 37.29,
 81.23,
 64.45,
 74.48,
 62.71,
 64.15,
 78.91,
 19.22,
 72.72,
 70.39,
 63.54,
 85.84,
 6.3,
 26.35,
 58.82,
 72.14,
 67.06,
 42.24,
 62.8,
 72.25,
 30.42,
 33.71,
 76.01,
 36.28,
 59.74,
 71.65,
 52.05,
 67.95,
 77.7,
 64.4,
 81.54,
 67.39,
 89.62,
 54.81,
 71.19,
 75.25,
 76.26,
 74.79,
 71.2,
 57.18,
 82.0,
 68.79,
 56.61,
 48.04,
 40.84,
 66.72,
 60.39,
 64.51,
 14.0,
 57.6,
 52.09,
 85.89,
 66.02,
 47.32,
 81.1,
 71.89,
 61.3,
 62.94,
 39.45,
 57.76,
 68.92,
 78.26,
 62.15,
 61.45,
 75.85,
 75.45,
 76.32,
 53.65,
 65.86,
 79.43,
 71.71,
 22.75,
 48.78,
 60.57,
 81.01,
 1.54,
 58.73,
 82.44,
 47.16,
 79.43,
 74.66,
 65.95,
 71.69,
 63.0,
 34.29,
 61.11,
 0,
 66.61,
 77.68,
 13.44,
 76.06,
 79.02,
 70.39,
 62.87,
 25.14,
 76.91,
 72.36,
 82.85,
 24.15,
 76.68,
 68.27,
 70.52,
 74.19,
 75.7,
 37.85,
 84.42,
 61.97,
 26.94,
 77.27,
 62.94,
 81.32,
 80.04,
 0,
 27.95,
 51.87,
 79.47,
 69.71,
 77.05,
 52.66,
 0,
 84.38,
 42.91,
 41.47,
 75.4,
 79.03,
 71.69,
 72.93,
 81.1,
 0,
 78.75,
 32.34,
 66.72,
 64.02,
 83.89,
 81.32,
 81.18,
 0,
 11.14,
 74.28,
 44.62,
 78.8,
 37.24,
 77.61,
 67.57,
 63.68,
 45.27,
 74.41,
 37.58,
 61.99,
 29.75,
 59.9,
 65.88,
 54.64,
 60.87,
 53.2,
 16.54,
 76.73,
 44.67,
 61.75,
 13.84,
 78.08,
 0,
 33.75,
 33.64,
 43.5,
 51.84,
 75.2,
 82.4,
 69.76,
 60.03,
 47.82,
 77.02,
 54.18,
 79.16,
 19.42,
 57.02,
 71.58,
 0,
 58.95,
 0,
 57.6,
 24.64,
 78.33,
 49.39,
 60.37,
 43.5,
 78.1,
 69.58,
 74.66,
 79.45,
 63.21,
 57.56,
 82.69,
 37.85,
 33.49,
 51.87,
 72.32,
 57.81,
 71.71,
 36.73,
 72.64,
 52.66,
 75.25,
 83.61,
 65.53,
 55.06,
 68.92,
 34.14,
 47.28,
 33.24,
 75.16,
 64.24,
 82.04,
 25.54,
 78.84,
 72.0,
 71.28,
 28.2,
 66.65,
 25.36,
 74.73,
 72.93,
 76.06,
 81.09,
 0,
 70.88,
 78.06,
 62.92,
 48.99,
 71.89,
 76.84,
 47.66,
 71.53,
 75.31,
 78.78,
 40.15,
 68.99,
 29.3,
 80.46,
 70.34,
 67.53,
 75.06,
 76.75,
 49.12,
 61.11,
 47.7,
 76.03,
 79.02,
 78.94,
 26.85,
 82.81,
 88.12,
 29.77,
 76.23,
 55.67,
 44.6,
 1.67,
 16.65,
 58.01,
 80.49,
 27.21,
 77.43,
 44.82,
 66.06,
 72.61,
 18.79,
 44.29,
 43.32,
 3.31,
 32.07,
 4.21,
 20.82,
 76.93,
 67.59,
 37.8,
 76.73,
 46.35,
 75.92,
 57.45,
 26.6,
 77.97,
 46.09,
 82.31,
 73.47,
 59.47,
 37.33,
 75.15,
 74.48,
 42.66,
 62.69,
 22.86,
 80.64,
 60.85,
 78.71,
 82.11,
 53.69,
 85.77,
 42.39,
 57.56,
 79.99,
 82.44,
 27.1,
 43.83,
 80.69,
 73.98,
 49.23,
 47.12,
 53.67,
 69.28,
 72.79,
 78.69,
 17.22,
 77.76,
 69.49,
 65.44,
 46.67,
 35.02,
 42.58,
 78.51,
 66.92,
 61.79,
 43.23,
 69.75,
 79.95,
 0,
 37.42,
 38.55,
 54.93,
 79.56,
 38.41,
 60.3,
 73.2,
 21.16,
 82.94,
 17.96,
 68.09,
 74.61,
 46.13,
 82.49,
 55.02,
 59.38,
 18.95,
 80.08,
 77.61,
 43.84,
 68.59,
 42.39,
 59.27,
 43.25,
 27.43,
 55.36,
 48.02,
 20.98,
 39.06,
 66.15,
 24.04]

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable. add sizing and zoom
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable.
# Instead of using the for loop, we can perform a list comprehension within the heatmap_layer() function.
# Replace temps with our code for the list comprehension so our heat_layer code looks like the following:
# The options for this are:

# The default option for the dissipation is "True," so we need to set our "dissipation" to "False."
# We can add max_intensity to make each measurement have a better gradient variance.
# We can add point_radius to make each measurement radius larger.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                        (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
10,10,Hilo,19.7297,-155.0900,80.33,76,75,8.05,US,2022-11-07 23:46:29
12,12,San Cristobal,7.7669,-72.2250,73.58,97,89,2.37,VE,2022-11-07 23:46:30
15,15,Satun,6.8333,100.0000,75.20,95,93,2.71,TH,2022-11-07 23:46:31
17,17,Poum,-20.2333,164.0167,78.17,80,100,13.09,NC,2022-11-07 23:46:32
18,18,Rikitea,-23.1203,-134.9692,73.56,92,100,21.43,PF,2022-11-07 23:46:32
19,19,Kandara,25.7191,73.2765,74.14,35,58,3.42,IN,2022-11-07 23:46:33
23,23,Atuona,-9.8000,-139.0333,77.05,69,79,13.53,PF,2022-11-07 23:46:34
30,30,Kieta,-6.2167,155.6333,85.28,70,23,7.14,PG,2022-11-07 23:46:36
32,32,Teseney,15.1100,36.6575,79.25,56,3,6.49,ER,2022-11-07 23:46:37
35,35,Meulaboh,4.1363,96.1285,76.35,87,94,2.01,ID,2022-11-07 23:46:38

In [16]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       0
Date          0
dtype: int64

In [17]:
preferred_cities_df.notnull().sum()

City_ID       200
City          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
Country       200
Date          200
dtype: int64

In [19]:
preferred_cities_df.count()

City_ID       200
City          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
Country       200
Date          200
dtype: int64

In [21]:
hotel_df=preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
10           Hilo      US     80.33  19.7297 -155.0900
12  San Cristobal      VE     73.58   7.7669  -72.2250
15          Satun      TH     75.20   6.8333  100.0000
17           Poum      NC     78.17 -20.2333  164.0167
18        Rikitea      PF     73.56 -23.1203 -134.9692
19        Kandara      IN     74.14  25.7191   73.2765
23         Atuona      PF     77.05  -9.8000 -139.0333
30          Kieta      PG     85.28  -6.2167  155.6333
32        Teseney      ER     79.25  15.1100   36.6575
35       Meulaboh      ID     76.35   4.1363   96.1285

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius":5000,
    "type": "lodging",
    "ke": g_key
}

In [ ]:
url = https://maps.googleapis.com/maps/api/place/nearbysearch/json